;";"为注释符
;","为分隔符
;列表形式的用 [a, b, c, d]

[running]
; 是否开启融合图的识别
if_fusion = 0
rabbit_host = 192.168.1.73
user_name = admin
pwd = admin
virtual_host = kfbio_AI
exchange_name = TCT
manager_queue = TCT_MANAGER_QUEUE_1
manager_queue_key = MANAGER
running_queue = TCT_RUNNING_QUEUE_1
running_queue_key = RUNNING
monitor_exe = TCT_Det_Amqt

;调试模式
debug = false
debug_save_view = false

;使用gpu, True, true, 1 <> False, false, 0
use_gpu = True

;使用cpu, gpu
device_list = [0]
threads_per_device = 1

;读取倍率
scale = 20

;读取尺寸
patches_size = 1920
stride = 0.9

;一次识别数量
batch_size = 2
cache_size = 2

gamma = 1
;类别，名字，颜色相关描述文件
desc_file = config/desc_crcnn_gamma_v4.json

;日志级别, DEBUG, INFO, WARN, ERROR, FATAL, CRITICAL
logger_level = INFO

[model]
model_path = model_zoo/cell_det/epoch_60crcnn_v4_cp3.pt

[thresh]
;nms
nms_score_thresh = 0.3
nms_overlap_thresh = 0.5

;制片方式分类
[slide_categroy]
categroy_model_path = model_zoo/slide_categroy_model/resnet18/best_v1.pth
; 模型载入的设备id
categroy_device_id = cuda:0
; other 指向类型 [bd, thinprep, ibp, healthsky, other]中的一种
other_point = other

[refine]
; 是否启用refinenet网络
refine_use = True
; 批量推理大小
refine_batch_size = 16
; 模型路径
refine_model_path = model_zoo/refinenet_model/epoch_76_eval.pt
; 模型载入的设备id
refine_device_id = 0
; 过滤阈值
refine_score = 0.3
; 过滤类别
filter_list = ['HSIL', 'Candida']
